MANICTIME_ADMIN_EMAIL=admin@example.com
MANICTIME_PASSWORD=yourpassword
MANICTIME_AUTH_TOKEN=""
MANICTIME_SERVER_LINK=http://db:8080
TELEGRAM_BOT_API_KEY=123456789:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PRODUCTION=0
DEBUG=0
