[Unit]
Description= Goals Bot telegram service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ls
StartLimitAction=reboot
ExecStart=/usr/bin/env python /path/to/main.py

[Install]
WantedBy=multi-user.target
