Description=telegrambot 
Wants=network.target 
After=syslog.target 
network-online.target 
[Service] 
Type=simple 
ExecStart=bash -c "source /home/ls/tgb-venv/bin/activate && \
                    python /home/lakshay_new/tg/main.py"
Restart=on-failure 
RestartSec=10 
RuntimeMaxSec=600
KillMode=process 
[Install]
WantedBy=multi-user.target